@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Lato:ital,wght@0,100;0,300;0,400;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #FCFCFC;
    overflow-x: hidden;
}

/** navbar **/
.navbar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    padding: 17px;
}

.nav {
    font-weight: bold;
    text-shadow: 5px 5px 4px #9d83ad;
}

.nav a {
    text-decoration: none;
    color: #9365AF;
}

.menu {
    font-weight: bold;
    font-size: 15px;
    padding: 9px 20px;
    background-color: #9365AF;
    border-radius: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu:hover {
    background-color: #F48D8D;
    transition: 0.5s;
    cursor: pointer;
}

/** hero **/
.hero {
    position: relative;
    font-family: 'Lato', sans-serif;
}

.title-insure {
    position: relative;
    font-size: 2rem;
    top: 6rem;
    left: 20rem;
    font-weight: bold;
    width: 25rem;
    color: #591679;
}

.body-insure {
    color: #b4a9a9;
    position: relative;
    top: 5rem;
    width: 25rem;
    font-weight: bold;
    left: 20rem;
}

.car-d {
    width: 45rem;
    position: absolute;
    left: 30rem;
    border-radius: 15rem 5rem 4rem;
    box-shadow: 8px 5px 2px #F48D8D;
}

.btn-cp {
    position: absolute;
    top: 17rem;
    left: 20rem;
    padding: 9px 25px;
    background-color: #EF5756;
    border-radius: 20px;
    font-weight: bold;
    opacity: 0.7;
}

.btn-cp a {
    text-decoration: none;
    color: #fff;
}

.btn-cp:hover {
    opacity: 1;
    transition: 0.5s;
    background-color: #25A66C;
    cursor: pointer;
}

.insure-comp {
    position: absolute;
    text-align: center;
    top: 35rem;
    font-weight: bold;
    background-color: #E9F5F0;
    height: 7rem;
    width: 90rem;
}

p.title {
    font-size: 1.5rem;
    color: #591679;
    font-weight: bold;
}

p.body {
    color: #918a8a;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

hr {
    border: 1px solid #25A66C;
}

.ico img {
    width: 70px;
}

.ico img:hover {
    transform: translate(5px, 5px);
    transition: 0.5s;
    box-shadow: 5px 5px 1px;
    cursor: pointer;
}

.ico {
    width: 200px;
    text-align: center;
    color: #918a8a;
    font-weight: bold;
}

.steps {
    margin-top: 800px;
    display: flex;
    justify-content: space-around;
}

.step p {
    font-size: 3rem;
    width: 400px;
    color: #3E0F52;
    font-family: 'Contrail One', cursive;
    font-weight: bold;
}

.step p::first-letter {
    font-weight: bold;
    font-size: 4rem;
    color: #25A66C;
}

.items {
    position: relative;
    right: 10rem;
    line-height: 3.4rem;
    top: 2rem;
    font-size: 1rem;
}

ul {
    counter-reset: item;
    list-style: none;
}

ul li {
    display: block;
    position: relative;
}

ul li:before {
    content: counter(item);
    counter-increment: item;
    color: #fff;
    padding: 5px 11px;
    text-align: center;
    height: 2em;
    width: 2rem;
    font-family: 'Contrail One', cursive;
    line-height: 1em;
    background: #763B9A;
    border-radius: 50em;
}

ul li a {
    text-decoration: none;
    color: #918a8a;
    padding: 6px 16px;
}

.vl {
    border-left: 1px double #9365AF;
    height: 28px;
    position: absolute;
    right: 25.2rem;
    bottom: -1rem;
}

.percent {
    margin: 40px;
    display: inline-flex;
    justify-content: center;
}

.back {
    background-color: #F2F2F2;
    border-radius: 6rem 0 6rem 0; 
    width: 700px;
}

.p-text {
    font-weight: bold;
    font-size: 2.1rem;
    margin: 140px;
    color: #3E0F52;
    width: 450px;
}

.p-text mark {
    background: none;
    color: #25A66C;
}

.img-percent img {
    width: 40rem;
    opacity: 0.9;
    border-radius: 10rem 16rem 10rem 10rem;
    box-shadow: 8px 5px 1px #25A66C;
    position: absolute;
    right: 10rem;
    top: 80rem;
}

.p-check {
    margin-top: 2rem;
    margin-left: 10rem;
}

.check {
   margin: 2rem;
}

.check p {
    width: 25rem;
    font-size: 15px;
}

.check img {
    width: 1.5rem;
    vertical-align: sub;
}

.check-title {
    position: relative;
    left: 35rem;
    bottom: 15rem;
    width: 600px;
    font-weight: bold;
    font-size: 3rem;
    color: #591679;
    text-shadow: 3px 2px 1px #ccc, 2px 3px 1px #eee;
}

footer {
    background-color: #9365AF;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.footer p a {
    text-decoration: none;
    color: #3E0F52;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Contrail One', sans-serif;
}

.footer p {
    color: #d3d3d3;
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
}
